<table id="exportthis" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <th rowspan="1" style="text-align:left">ID NO :</th>
    <th style="text-align:left">Time of ABG</th>
    <th>

    </th>
    <th style="text-align:right">&#9312;</th>
  </tr>
  <tr>
    <th></th>
    <th style="text-align:left">Time of VBG</th>
  </tr>
  <tr class="border_bottom">
    <th></th>
    <th style="text-align:left">Date :</th>
    <th></th>
    <th></th>
    <th></th>

  </tr>
  <tr class="border_bottom">

      <th>Component</th>
      <th>ABG</th>
      <th style="width:20%">Difference</th>
      <th>VBG</th>
      <th></th>
</tr>
<tr ng-repeat="d in data track by $index">
  <td><input name="name" ng-model="d.name" type="text" style="padding:3%" ng-blur="calculateDiff($index)" /></td>
  <td><input name="abg" ng-model="d.abg" type="number" step="0.01" ng-blur="calculateDiff($index)" style="padding:3%"/></td>
  <td style="text-align: center !important;">{{d.result}}</td>
  <td><input name="vbg" ng-model="d.vbg" type="number" step="0.01" ng-blur="calculateDiff($index)" style="padding:3%"/></td>
  <td ng-click="deleteData($index)"><a href="" style="text-decoration:none">X</a></td>
</tr>
</table>


<button ng-click="export()" class="button button-green" style="display:inline-block;margin-top:2%;margin-bottom:10%">Download</button>
<button name="addRow" class="button button-blue" style="display: inline-block;float: right;margin-right:9%;margin-top:2%;margin-bottom:10%" ng-click="addNewRow()">Add Row</button>

<!-- <button name="addRow" ng-click="saveData()">Save Data</button> -->
